.theme-black {
  background-color: #262626!important;
}

.background-dark-primary {
  background-color: #E040FB !important ;
}

.text-dark-primary {
  color: #64B5F6!important;
}


.theme-light {
  background-color: white!important;
}
.theme-light-page {
  background-color: rgb(233, 226, 226)!important;
}

.text-light-primary {
  color: #E040FB !important;
}

.text-black {
  color: black;
}

.flex-row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container{
  height: 100vh;
  overflow-y: auto;
}
