.theme-black {
  background-color: #262626!important;
}

.background-dark-primary {
  background-color: #E040FB !important ;
}

.text-dark-primary {
  color: #64B5F6!important;
}


.theme-light {
  background-color: white;
}

.text-light-primary {
  color: #E040FB !important;
}

.text-black {
  color: black;
}